body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: azure;
}

h1 {
  text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.question {
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  margin-bottom: 10px;
}

input[type="text"],
input[type="radio"] {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}